html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #a9d6bc;
}

h1, h2 {
    margin: .3em;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}

.recipe_img {
    width: 60%;
    margin: 0 auto;
}

ol li, h1, h2, p {
    margin: .3em auto;
    color: #2b5815;
    text-shadow: 3px 2px #7efc003f;
    padding: .4em;
    width: 80%;
    letter-spacing: .11em;
}

p, ol li {
    font-size: 1.1em;
}

.article h2 {
    text-align: left;
}

.article a, .article ul li {
    color: #245e27;
    letter-spacing: .11em;
    text-decoration: none;
    margin: 1em auto;
    list-style-type: none;
    padding: .3em;
    width: 100%;
}

a {
    text-align: center;
    cursor: pointer;
}

a:hover {
    color: #589718;
}