* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #a9d6bc;
}

h1 {
    margin: .3em;
    text-align: center;
}

.image {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1em auto;
    text-align: center;
}

.links a {
    color: #245e27;
    letter-spacing: .2em;
    text-decoration: none;
    margin: .3em auto;
}

.links a:hover {
    color: #589718;
}

.links p {
    margin: .5em auto;
    width: 80%;
    font-size: 1em;
    color: #2a4114;
}