html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #a9d6bc;
}

header, article {
    width: 100%;
    height: auto;
}

h1 {
    margin: .3em;
    text-align: center;
}

.image {
    display: block;
    margin: 0 auto;
    width: 21em;
    border-radius: 0 65em 18em 11.3em;
}

.container {
    display: flex;
    justify-content: center;
    margin: 1em auto;
    width: 80%
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1em auto;
    text-align: center;
}



ol li, h1, h2, b {
    margin: .3em auto;
    color: #2b5815;
    text-shadow: 3px 2px #7efc003f;
    padding: .4em;
    width: 80%;
    letter-spacing: .11em;
}

.links a, ul li {
    color: #245e27;
    letter-spacing: .11em;
    text-decoration: none;
    margin: .3em auto;
    list-style-type: none;
}

.links a:hover {
    color: #589718;
}

.links p {
    margin: .5em auto;
    width: 80%;
    font-size: 1em;
    color: #2a4114;
}